nav {
    height: 13vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.8s linear;
    
}
.matnlarr {
    font-size: 40px;
}



.boxxx {
    font-size: 2.3rem;
}
@media (min-width: 359px) and (max-width: 419px) {
    .rux {
        transform: scale(0.5);
    }
    main {
        padding-top: 25vw;
        height: 75vh;
    }
    .matnlarr {
        font-size: 15px;
    }
    .tugma { 
    padding: 2px 6px;
    font-size: 1rem;
    color: white;
    }
    nav {
        padding: 0;
    }
    nav li{
        margin-left: 0;
    }
    .login_joy {
  padding: 27vw;
    }
  


.login_joy form {
  height: 200px;
  border: 2px dotted #24B39C;
  width: 50vw;
  border-radius: 15px;
}
.login_joy h1 {
    font-size: 15px;

    }
}


@media (min-width: 420px) and (max-width: 600px) {
    nav {
      padding: 0 ;
    }
    main {
        padding-top: 20vw;
        height: 85vh;
    }
    .matnlarr {
        font-size: 20px;
    }
    .rux {
        transform: scale(0.6);
    }
    .tugma { 
    padding: 3px 8px;
    font-size: 1.1rem;
    color: white;
    }
    .login_joy {
  padding: 25vw;
    }
  


.login_joy form {
  height: 200px;
  border: 2px dotted #24B39C;
  width: 50vw;
  border-radius: 15px;
}
.login_joy h1 {
    font-size: 18px;

    }
    
    
}

@media (min-width: 601px) and (max-width: 950px) {
    .matnlarr {
        font-size: 23px;
    }
    main {
        padding-top: 16vw;
    }
    .rux {
        transform: scale(0.8);
    }
    .tugma { 
    padding: 5px 10px 5px 10px;
    font-size: 1.2rem;
    color: white;
    }
    .login_joy {
  padding: 20vw;
    }
  


.login_joy form {
  height: 300px;
  border: 3px dotted #24B39C;
  width: 50vw;
  border-radius: 25px;
}
.login_joy h1 {
    font-size: 25px;

    }
}

@media (max-width: 950px) {
    nav ul div li:nth-child(1){
       display: none;
    }
    nav ul div li:nth-child(2){
       display: none;
    }
    nav ul div li:nth-child(3){
       display: none;
    }
    nav ul div li:nth-child(4){
       margin-right: 10px;
    }
    
}
 @media (min-width: 951px) and (max-width: 1305px) {
    .login_joy {
  padding: 16vw;
  
  
}

.login_joy form {
  height: 300px;
  border: 3px dotted #24B39C;
  width: 40vw;
  border-radius: 25px;
}
.login_joy h1 {
    font-size: 30px;
}
 }


















.subject-info {
position: absolute;
  margin-top: 10px;
  
  font-size: 0.8rem;
  top: 100px;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  min-width: 170px;
}



















.scrolled {
    background-color: rgba(255, 255, 255, 0.685);
    position: fixed;
    box-shadow: 0 0 6px 2px #0F2A47;
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul li:nth-child(1) img {
    width: 11vh;
}

nav ul div {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
nav li {
    margin-left: 30px;
}
nav a {
    display: inline-block;
    padding-bottom: 5px;
    text-decoration:  none;
    color: black;
}
nav div a {
    transition: 0.2s linear;
}
nav div li:nth-child(1) a:hover, nav div li:nth-child(2) a:hover,nav div li:nth-child(3) a:hover{
    color: #24B39C;
}

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
footer {
    position: relative;
    z-index: 1;
    background-color: #0F2A47;
    padding: 2vh 10vw;
}
footer ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer ol li:nth-child(1) img {
    width: 20vw;
}
footer li:nth-child(2) {
    font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 1.8rem;
    color: #0F2A47;
    text-shadow: 0 0 5px white;
}

.btr2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.btr2 div{
    display: flex;
    margin-top: 25px;
    font-size: 1.1rem;
    color: white;
    justify-content: space-around;
}

footer span {
    display: flex;
    align-items: center;
}
.icon-style {
    font-size: 1.8rem;
    margin-right: 10px;
}

footer iframe {
    width: 60%;
    height: 35vh;
}



@media (max-width: 600px) {
    
    .btr2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 3rem;
    }
    footer {
    padding: 1rem 1.8rem;
}
.btr2 span {
    width: 50vw;
}
footer iframe{
    width: 90%;
    height: 20rem;
}
.icon-style {
    margin-right: 5px;
}
.btr2 div:nth-child(1){
    display: flex;
    width: 35vw;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 2rem;
    
}

.btr2 div:nth-child(2) {
    width: 64vw;
}
}





.cursor {
  display: inline-block;
  animation: blink 1s infinite;
}


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}




.tumanka {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.412);
    display: flex;
    justify-content: center;
    align-items: center;
}


.ruxsatnoma {
    color: rgb(5, 5, 110);
    position: relative;
    box-shadow: 0 0 25px 1px black;
    width: 600px;
    height: 800px;
    border-radius: 0;
    padding: 25px;
    background-image: url("../images/rux_back.jpg");
    background-color: rgba(255, 255, 255, 0.582); /* oq rang */
    background-blend-mode: lighten; /* yoki overlay, screen, multiply */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 16px;
}
.ruxsatnoma span {
    display: block;
    width: 100%;
}

.rasm22 {
    width: 100px;
}

.ruxsatnoma h1 {
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-size: 35px;
    color: rgb(5, 5, 110);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.63);
}

.ruxsatnoma h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: rgb(5, 5, 110);
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.63);
}

.ruxsatnoma h3 {
    box-shadow: none;
    font-size: 19px;
    font-weight: 400;
    color: rgb(5, 5, 110);
    letter-spacing: 2px;
}


.ruxsatnoma ul {
    padding: 0 15px;
}
.ruxsatnoma ul li {
    margin: 0;
    margin-bottom: 10px;
    
   
}

.rux {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 600px;
    height: 800px;
}

.korsatkich {
    transform: translateY(2px) translateX(-3px);
}







.icon-container div {
    display: inline-block;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.icon-container {
    padding: 0;
  position: absolute;
  right: -55px;
  top:30%;
  transform: translateY(-50%);
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 5px;
border-radius: 0;
box-shadow: none;
}

.icon-wrapper {
  position: relative;
  width: 150px;
  text-align: end;
}

.icon-btn {
margin-top: 7px;
  background: #2563eb;
  border: none;
  color: white;
  padding: 12px;
  border-radius: 65px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s, background 0.2s;
}

.icon-btn:hover {
  background: #1d4ed8;
  transform: scale(1.1);
}

.popover {
    display: inline-block;
    width: 100px;
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 10px 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
  z-index: 100;
  
}

.popover p {
  margin: 0 0 8px;
  font-size: 14px;
  color: #111;
  font-weight: 500;
}

.popover-action {
  background: #e6880e91;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 17px;
  transform: translateY(-10px);
  transition: background 0.2s;
}

.popover-action:hover {
  background: #e6880ece;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }
}