.slider-container {

  overflow: hidden;
  width: 100%;
  padding: 45px 0;
  background: #f9f9f9;
}

.slider-track {
  display: flex;
  width: fit-content;
}

.slider-image {
  flex: 0 0 auto;
  margin: 0 25px;
  border-radius: 10px;
  overflow: hidden;
  width: 20vw;
  height: 25vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
.slider-container h2 {
    color: #24B39C;
     font-family: "Lugrasimo", cursive;
    text-align: center;
    margin-top: 30px;
    font-size: 1.6rem;
    }
