.adminSpiska table {
      width: 100%;
      margin: 20px auto;
      border-collapse: collapse;
      font-family: Arial, sans-serif;
      font-size: 1.1rem;
      overflow: hidden;
    }

.adminSpiska div:nth-child(1) h3{
    margin-bottom: 15px;
}


.tekislash {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.adminSpiska  th, .adminSpiska td {
     border-right: 1px solid white;
      padding-bottom: 10px;
      text-align: center;
      padding-top: 10px;
    }

.adminSpiska th {
      background-color: #24B39C;
      color: white;
    }

.adminSpiska tr:nth-child(even) {
      background-color: #f2f2f2;
    }

.adminSpiska tr:hover {
      background-color: #24b39b2c;
    }



.tugma2 {
    display: inline-block;
    padding: 5px 15px;
    font-size: 1.3rem;
    border-radius: 45px;
    border: 1px solid #24B39C;
    margin-right: 1.6rem;
    cursor: pointer;
    transition: 0.2s linear;
}
#tugma2 {
    display: inline-block;
    padding: 5px 15px;
    font-size: 1.3rem;
    border-radius: 45px;
    border: 1px solid #24B39C;
    margin-right: 1.6rem;
    cursor: pointer;
    transition: 0.2s linear;
}

.tugma2:hover {
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
}

.tugma2:active {
    transform: scale(1.04);
}


.adminSpiska {
    padding: 25px 45px;

    width: 80vw;
    border-top: 1px solid #ccc;
}

.excel {
    background-color: green;
    color: white;
    border: none;
    
    align-self: flex-end;
}

h1 {
    color: #24B39C;
}

.adminSpiska button {
    background-color: #24B39C;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    font-size: 1.3rem;
    border-radius: 45px;
    border: 1px solid #24B39C;
    margin-right: 1.6rem;
    cursor: pointer;
    transition: 0.2s linear;
}
.adminSpiska button:hover {
    box-shadow: 0 0 10px 1px rgb(158, 158, 158);
}
.adminSpiska button:active {
    transform: scale(1.04);
}

.adminSpiska form {
    margin-top: 15px;
}



.tasdiq {
    margin-right: 0.4rem;
    overflow: visible;
    font-size: 1.4rem;
    color: rgb(221, 221, 16);
    cursor: pointer;
    transition: 0.2s linear;
}
.deletee {
    overflow: visible;
    font-size: 1.4rem;
    color: red;
    cursor: pointer;
    transition: 0.2s linear;
}
.deletee:hover {
    transform: scale(1.1);
}
.tasdiq:hover {
    transform: scale(1.1);
}

.tasdiq2 {
    margin-right: 0.4rem;
    overflow: visible;
    font-size: 1.4rem;
    color: green;
    cursor: pointer;
    transition: 0.2s linear;
}
.tasdiq2:hover {
    transform: scale(1.1);
}

.madalcha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.madalcha span {
    display: block;
    width: 100%;
    margin-top: 10px;
}
.madalcha > input, .madalcha > span input {
    height: 30px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0 5px;
}
.madalcha select {
    border: 1px solid black;
    height: 30px;
    border-radius: 15px;
    padding: 0 5px;
    margin-top: 10px;
}

.modal_check {
    display: flex;
    flex-direction: column;
}
.modal_check label {
    display: flex;
    align-items: center;
}

.round-checkbox {
  appearance: none; /* brauzer default stilini olib tashlaydi */
  -webkit-appearance: none;
  background-color: white;
  border: 2px solid #555;
  border-radius: 50px; /* 100% ham bo'ladi */
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}

.round-checkbox:checked {
  background-color: #4CAF50; /* tanlanganda yashil */
  border-color: #4CAF50;
}

.round-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}


.madalcha_jadvala {
    display: inline-block;
    
}