.tugma {
    padding: 15px 20px 19px 20px;
    font-size: 1.4rem;
    color: white;
    background-color: #24B39C;
    border-radius: 45px;
    display: inline-block;
    transition: 0.4s linear;
    border: 1px solid #1d917d;
}

.tugma:hover {
    filter: opacity(0.7);
    border: 1px solid #2ca17a;
    transform: scale(1.04);
}

.tugma:active {
    transform: scale(0.96);
}