body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tugma {
    padding: 15px 20px 15px 20px;
    font-size: 1.4rem;
    color: white;
    background-color: #24B39C;
    border-radius: 45px;
    display: inline-block;
    transition: 0.2s linear;
    border: 1px solid #1d917d;
}
#tugma_tekis {
    padding-bottom: 19px;
}
.tugma:hover {
    filter: opacity(0.7);
    border: 1px solid #2ca17a;
    transform: scale(1.04);
}

.tugma:active {
    transform: scale(0.96);
}

.inputcha {
    width: 20rem;
    height: 3rem;
    border-radius: 50px;
    outline: 1px solid #1d917d;
    border: none;
    padding: 0 15px;
    font-size: 1rem;
}
.inputcha:focus {
    box-shadow: 0 0 8px 1px #1d917d;
}